[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
websockets = "*"
uvicorn = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
flake8 = "*"
flake8-print = "*"
flake8-multiline-containers = "*"
flake8-builtins = "*"
flake8-import-order = "*"
flake8-commas = "*"
flake8-quotes = "*"
mypy = "*"
pytest = "*"
types-passlib = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.10"
